# Environment Variables (Contains sensitive information)
.env
.env.example
config
config\database.php
submit.php



# XAMPP / Local Server logs & configs
*.log
.DS_Store

# IDE configs
.idea/
.vscode/
